.customer {
  width: 100%;
  padding: 52px 0 50px 0;
}
.customer .current {
  font-size: 16px;
  color: #999999;
}
.customer .line {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.customer .line .red {
  display: block;
  background: #e5000c;
  width: 187px;
  height: 2px;
}
.customer .line {
  margin-top: 16px;
  background: #d6d6d6;
  width: 100%;
  height: 2px;
}
.websizeImg {
  width: 100%;
}
.cadeI .bigImg {
  width: 60%;
}
.websizeImg .bigImg img {
  width: 100%;
}
.carouse {
  position: relative;
}
.cadeI .details {
  width: 30%;
}
.cadeI .details h2 {
  font-size: 26px;
  color: #000000;
}
.font1 {
  font-size: 14px;
  color: #999999;
}
.details .tagging {
  font-size: 14px;
  color: #999999;
  margin-top: 19px;
  margin-bottom: 31px;
}
.cadeI .bigImg {
  border: 1px solid #e6e6e6;
  box-shadow: 10px 10px 10px 10px #e3e3e3;
}
.cadeI .bigImg img {
  width: 100%;
}
.details p:nth-child(3) {
  width: 100%;
  font-size: 14px;
  color: #999999;
  padding: 17px 0;
  border-top: 1px dotted #c2c1c1;
  border-bottom: 1px dotted #c2c1c1;
}
.cadeI .details .swiper-button-prev {
  top: 55%;
  background: url('../images/arrow_left_16.jpg') center center no-repeat;
}
.cadeI .details .swiper-button-next {
  top: 55%;
  background: url('../images/arrow_right_16.jpg') center center no-repeat;
}
.details .detailsSlide {
  margin: 0 45px;
}
.cadeI .browse {
  width: 100%;
  margin-top: 30px;
  padding: 15px 0;
  border-top: 1px dotted #c2c1c1;
  border-bottom: 1px dotted #c2c1c1;
  font-size: 14px;
  color: #5b7cff;
  padding-left: 16px;
  padding-left: 15px;
}
.cadeI .browse span:last-child {
  color: #999999;
}
.details img:last-child {
  margin: 34px 0 40px 4px;
}
@media (max-width: 992px) {
  .details p:nth-child(3) {
    border-bottom: 0;
  }
  .cadeI .browse {
    border-top: 0;
  }
  .cadeI .bigImg {
    float: none;
    margin-bottom: 40px;
    width: 80%;
  }
  .cadeI .carouse {
    display: none;
  }
  .cadeI .details {
    width: 80%;
    float: none;
  }
  .cadeI {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cadeI .browse span:last-child {
    margin-bottom: 20px;
  }
}
